Unity/Temp/
Unity/Library/
Unity/Assembly-CSharp-Editor-vs.csproj
Unity/Assembly-CSharp-Editor.csproj
Unity/Assembly-CSharp-vs.csproj
Unity/Assembly-CSharp.csproj
Unity/Unity-csharp.sln
Unity/Unity.sln
Unity/Unity.userprefs
Build
Unity/Assembly-CSharp-firstpass-vs.csproj
Unity/Assembly-CSharp-firstpass.csproj
